
        *{
            padding: 0;
            margin: 0;
        }
        body{
            /* position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%); */
            /* background-color: black; */
            /* text-align: center; */
        }
        .box{
            position: relative;
            background-color: white;
            border-top: 2px solid black;
            border-radius: 50%;
            width: 100px;
            height: 100px;
            /* text-align: center;
            display: flex;
            justify-self: center; */
            margin-top: 10px;
            animation: spin 1s linear infinite;
        }
        h2{
            /* text-align: center; */
            color: white;
        }
        @keyframes spin{
            0%{
                transform: rotate(0deg);
            }
            
            100%{
                transform: rotate(360deg);

            }
        }
    